* {
  box-sizing: border-box;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}

.header {
  background-color: #333;
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  width: 100vw; /* changed width to 100vw */
}

.navbar ul {
  display: flex;
  gap: 10px;
}

.header nav ul {
  list-style: none;
}

.header nav ul li a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.switch-checkbox {
  display: none;
}

.switch-label {
  height: 3px;
  border: 1px solid #ffffff;
  background-color: #242424;
  display: inline-block;
  cursor: pointer;
  border-radius: 100%;
  padding: 8px 8px;
  transition: background-color 0.9s ease, color 0.9s ease, transform 0.9s ease;
  transform: translateX(1px) translateY(0.5px);
}

.switch-checkbox:checked + .switch-label {
  height: 3px;
  border: 1px solid #242424;
  background-color: #fff;
  cursor: pointer;
  border-radius: 100%;
  padding: 8px 8px;
  transition: background-color 0.9s ease, color 0.9s ease, transform 0.9s ease;
  transform: translateX(20px) translateY(0.5px);
}

.switch-container {
  width: 42px;
  height: 23px;
  border-radius: 13px;
  border: 2px solid #ffffff;
}

.header button {
  background-color: #333333;
  margin: 0;
  padding: 0;
  border: none;
}

.header button:hover {
  background-color: #333333;
  border: none;
  margin: 0;
  padding: 0;
}
